@import './css/animate.min.css';
@import './css/bootstrap.css';
@import './css/bootstrap.min.css';
@import './css/style.css';


/* Necessary styling to animate the elements */

[data-reveal] {
  opacity: 0;
  transition: opacity 0.8s;
}

[data-reveal].visible {
  opacity: 1;
}


